<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
   <section>
     <fieldset>
       <input id="title" type="title"  value="title" name="search_query">
    
     </fieldset>
   </section>
    
    
</body>
</html>