<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <header>
      <h1>About Us</h1>
      <%- include('../layout/header')%>
    </header>
    <div id="org">
      <h3>Cats Paw Inc</h3>
      <p>Developed by our professional software engineering team.</p>
      <br>
      <p id="team">Meet the team:</p>
    </div>
    <div class="bio">
      <img src="https://i.imgur.com/vggTiVD.jpg">
      <h3>Brandon</h3>
      <br>
      <p>Software Dev from Cleveland, OH living in the SEATAC area, looking to find a dev team with a friendly culture and a healthily competitive environment. 
      <br>
      <a href="https://www.linkedin.com/in/brandon-gonzalez-443b5172/">LinkedIn</a></p>
    </div>
    </div>
    <div class="bio">
      <img id="left" src="https://i.imgur.com/72MBzGD.jpg">
      <h3>Anthony</h3>
      <br>
      <p> I'm a software development engineer from Seattle WA. My hobbies include playing drums, video games and recording music. I like building apps that can help people in the real world.
      <br>
      <a href="https://www.linkedin.com/in/anthony-beaver/">LinkedIn</a></p>
    </div>
    <div class="bio">
      <img id="jae_img" src="https://i.imgur.com/lR0AGuR.jpg">
      <h3 id="jae">Jae</h3>
      <p>My name is Jae and I’m currently a student at CodeFellows learning software development. My goal is to transition into a Software Developer role for a tech-driven start-up where I can collaborate and create codes that can solve real-life problems. I’m passionate, goal-driven and highly motivated to start my new journey. 
      <br>
      <a href="https://www.linkedin.com/in/jae-y-choi-99b72b1b1/">LinkedIn</a></p>
    </div>
  </main>

  <footer><%- include('../layout/footer') %></footer>
  <%- include('../layout/publicScript') %>
</body>

</html>