<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <header>
      <h1>About Us</h1>
      <%- include('../layout/header')%>
    </header>
    <div id="org">
      <h3>Cats Paw Inc</h3>
      <p>Developed by our professional software engineering team.</p>
      <br>
      <p>Meet the team:</p>
    </div>
    <div class="bio">
      <img src="https://files.slack.com/files-pri/T039KG69K-F01FNBJ4RUZ/radheadshot.jpg">
      <h3>Brandon</h3>
      <br>
      <p>Software Dev from Cleveland, OH living in the SEATAC area, looking to find a dev team with a friendly culture and a healthily competitive environment.</p>
    </div>
    </div>
    <div class="bio">
      <img id="left" src="https://files.slack.com/files-pri/T039KG69K-F01F30NUGTG/drumming.jpg">
      <h3>Anthony</h3>
      <br>
      <p> I'm a software development engineer from Seattle WA. My hobbies include playing drums, video games and recording music. I like building apps that can help people in the real world.</p>
    </div>
    <div class="bio">
      <img id="jae" src="https://files.slack.com/files-pri/T039KG69K-F01EV0GEE9M/20170920_194531__1_.jpg">
      <h3>Jae</h3>
      <p>about me placeholder for our sentences</p>
    </div>
  </main>

  <footer><%- include('../layout/footer') %></footer>
  <%- include('../layout/publicScript') %>
</body>

</html>