<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
    </header>
    <main>
    <canvas id='cryptoOne'></canvas>
    </main>
    <footer></footer>
</body>

</html>