<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <main>
    <header>
      <h1>Search Error Page</h1>
      <%- include('../layout/header')%>
    </header>
    <p>
      Please make sure all searching parameters are selected.
      Including the radio button selections.
    </p>
  </main>

  <footer><%- include('../layout/footer') %></footer>
  <%- include('../layout/publicScript') %>
</body>

</html>