* {
  text-align: center;
  font-family: 'Goldman', cursive;
}

body {
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: #1d1715;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

/* header styles */

header {
  background-color: black;
}

h1 {
  font-size: 1.7em;
  
  color: #86E97F;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* nav bar styles */
ul {
  background-color: #534d4A;
  width: 100vw;
  height: 6vh;
  line-height: 6vh;
  /* display: flex; */
}

li {
  display:  inline;
  padding: .2em;
}

a {
  text-decoration: none;
  color: #86E97F;
  transition-duration: .5s; 
}

a:hover {
  transition-duration: .5s; 
  padding: .4em;
  font-size: 1.2em;
  background-color: #2a7025;
  color: black;
}

/* form styles */

#modal {
  display: none;
  position:fixed;
  z-index:1;
  left:16vw;
  top:14vh;
  width:70vw;
  height:45vh;
  background-color:rgba(0,0,0,.9);
}
#modal button {
  width: 50vw;
  height:4vh;
  background-color: #534d4A ;
  color:#2a7025;
  transition-duration: .7s;
}

#modal button:hover {
  width: 50.5vw;
  height: 4.2vh;
  background-color:#2a7025 ;
  color: #534d4A ;
  transition-duration: .7s;
}

legend, label {
  color: rgb(168, 167, 167);
  font-size: 1.5em;
  padding-top: .4em;
}

.search_query {
  width: 40vw;
  height: 6vh;
  margin-top: 3vh;
  background-color: #534d4A;
  font-size: 2em;
}

/* graphs styles */
.home_graphs {
  width: 90vw;
  margin-bottom: .5em;
}

/* news stuff */
h2 {
  font-size: 1.5em;
  font-family: 'Goldman', cursive;
  color: #86E97F;
}

#popular {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* article styles */

#news {
  margin-bottom: .5em;
}

.article{
  width: 45vw;
  font-size: .9em;
  color: #2a7025;
  margin-bottom: .5em;
}

.article:last-child {
  width: 100vw;
}

footer {
  margin-top: .5em;
  background-color: black;
  height: 3vh;
  line-height: 3vh;
}

#footer {
  width: 100vw;
  font-size: .8em;
  color: #86E97F;
}