* {
  text-align: center;
  font-family: 'Goldman', cursive;
}

body {
  background-color: #1d1715;
  display:flex;
  flex-direction: column;
}

main {
  flex:1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
}

/* header styles */

header {
  background-image: linear-gradient(black,#242120);
}

h1 {
  font-size: 1.7em;
  color: #86E97F;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* nav bar styles */
ul {
  background-color: #534d4A;
  width: 100vw;
  height: 6vh;
  line-height: 6vh;
  /* display: flex; */
}

li {
  display:  inline;
  padding: .2em;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #86E97F;
  transition-duration: .5s; 
}

a:hover {
  transition-duration: .5s; 
  padding: .4em;
  font-size: 1.2em;
  background-color: #2a7025;
  color: black;
}

/* form styles */

#modal {
  display: none;
  position:fixed;
  z-index:1;
  left:16vw;
  top:14vh;
  width:70vw;
  height:45vh;
  background-color:rgba(0,0,0,.9);
}
#modal button {
  width: 50vw;
  height:4vh;
  background-color: #534d4A ;
  color:#2a7025;
  transition-duration: .7s;
}

#modal button:hover {
  width: 50.5vw;
  height: 4.2vh;
  background-color:#2a7025 ;
  color: #534d4A ;
  transition-duration: .7s;
}

legend, label {
  color: rgb(168, 167, 167);
  font-size: 1.5em;
  padding-top: .4em;
}

.search_query {
  width: 40vw;
  height: 6vh;
  margin-top: 3vh;
  background-color: #534d4A;
  font-size: 2em;
}

.view_details, .save_form {
  display: inline-block;
  margin-top: 10px;
}


/* graphs styles */
.home_graphs {
  width: 90vw;
  margin-bottom: .5em;
}

/* news stuff */
h2 {
  font-size: 1.5em;
  font-family: 'Goldman', cursive;
  color: #86E97F;
}

#popular {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* article styles */

#news {
  margin-bottom: .5em;
}

.article{
  width: 45vw;
  font-size: 1em;
  color: #2a7025;
  margin-bottom: .9em;
}

.article:last-child {
  width: 100vw;
}

footer {
  font-family: 'Goldman', cursive;
  margin-top: auto;
  background-color: black;
  height: 3vh;
  line-height: 3vh;
  position: fixed;
  bottom: 0;
  
}

footer {
  width: 102vw;
  font-size: .8em;
  color: #86E97F;

  bottom:0;
}

.article h3 {
  margin-bottom: 10px;
}

/* Detail view styles */

#name {
  display:none;
}

#disc {
  color:  #2a7025;
}

div#links  {
  margin-bottom: 10px;
}

/* Search Show page */

div.shown_result {
  color: #86E97F;
  background-image: linear-gradient(black,rgb(168, 167, 167));
  width:100%;
  padding:10px;
}

button.save_button {

  height: 3em;
  background-color: black;
  color: #2a7025;
  transition-duration: .7s;
  margin-bottom: 10px;
}

button.save_button:hover {
  color: black;
  background-color: #2a7025;
  transition-duration: .7s;
}

button#more {
  color: black;
  background-color: #2a7025;
  transition-duration: .7s;
  width: 100vw;
}

button#more:hover {
  background-color: black;
  color: #2a7025;
  transition-duration: .7s;
}

/* Error page style */

#error_page {
  color: #86E97F;
  margin-top: 1em;
}

/* About us styles */

#org h3 {
  font-size: 2em;
  color: #86E97F;
  margin-bottom: .2em;
  margin-top: 10px;
}

#org p {
  font-size: 1em;
  color: #2a7025;
}

#org p:last-child {
  margin-bottom: 20px;
}

.bio h3 {
  font-size: 1.5em;
  color: #86E97F;
  /* float: left; */
}

#jae {
  margin-bottom: 15px;
}

#jae_img {
  margin-bottom: 80px;
}

.bio p {
  font-size: 1em;
  color: #2a7025;
  margin-bottom: .5em;
}

#left {
  float: right;
  margin-bottom: 50px;
}

.bio img {
  float: left;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 15px;
  width: 120px;
  margin-bottom: 20px;
}
