<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/renderWatchList'>WatchList</a></li>
    <li><a href='/renderAboutUs'>About Us</a></li>
    <li><a id="searchButton">Search</a></li>
  </ul>
</nav>