<section id="modal">
  <form action="/search" method="POST">
    <fieldset>
      <legend>Enter your min and max search amount here:</legend>
        <input class="search_query" type="number" value="min_search" name="min_search" placeholder="Min">
      <br>
        <input class="search_query" type="number" value="max_search" name="max_search" placeholder="Max">
        <br>
      <label for="ascOrDesc"> Ascending
        <input class="radio_query" type="radio" value="asc" name="ascOrDesc">
      </label>
      <br>
      <label for="ascOrDesc"> Decending
        <input class="radio_query" type="radio" value="desc" name="ascOrDesc">
      </label>
      <br>
      <button type="submit">Submit</button>
    </fieldset>
  </form>
  <button id='close' > Close </button>
</section>